.containers{
    background-image:url(/src/assets/asset\ 5.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.containers>h2{
   padding-block:25px;
   margin-top:90px;
   text-align: center;
   margin-inline:310px;
   font-size:30px;
   margin-bottom:30px;
   color: #fff;
}
.cards{
    display: flex;
    row-gap:50px;
    column-gap:20px;
    flex-wrap: wrap;
    padding-left:300px;
    padding-top:50px;
    padding-bottom:50px;
    color: #fff;
}
.application{
    height:360px;
    width:310px;
    border:2px solid #fff;
    transition:0.5s;
}
.application:hover{
    transform: scale(1.1);
}
.application img{
    height:90px;
    padding-left:20px;
    padding-top:20px;

}
.application h3{
    text-align: start;
    padding-block:10px;
    padding-left:20px;
}
.application p{
    text-align:start;
    padding-inline:20px;  
}
