.containers{
    background-image:url(../../assets/asset5.gif);
    background-position: cover;
    background-size: cover;

}
.containers>h2{
   padding-block:25px;
   margin-top:90px;
   text-align: center;
   margin-inline:310px;
   font-size:2vw;
   margin-bottom:30px;
   color: #fff;
}
.card-container{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-inline:190px;
    padding-bottom:80px;

}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* This creates three equal columns */
    gap:50px;
    color: #fff;
    margin-top:60px;
}
.application{
    padding-inline:10px;
    border:2px solid #fff;
    transition:0.5s;
    height:360px;
}
.application:hover{
    transform: scale(1.1);
}
.application img{
    height:90px;
    padding-left:20px;
    padding-top:20px;

}
.application h3{
    text-align: start;
    padding-block:10px;
    padding-left:20px;
}
.application p{
    text-align:start;
    padding-inline:20px;  
}

@media screen and (max-width:600px) {
   .containers{
      width:160vw;
   }
   .containers>h2{
    width:100%;
    margin-left:80px;
   }
  
 }