.containers{
    background-image:url(../../assets/asset5.gif);
    background-position: cover;
    background-size: cover;

}
.containers>h2{
   padding-block:25px;
   margin-top:90px;
   text-align: center;
   margin-inline:310px;
   font-size:2vw;
   margin-bottom:30px;
   color: #fff;
}
.card-container{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-inline:190px;
    padding-bottom:80px;

}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* This creates three equal columns */
    gap:50px;
    color: #fff;
    margin-top:60px;
}
.application{
    padding-inline:10px;
    border:2px solid #fff;
    transition:0.5s;
    height:360px;
}
.application:hover{
    transform: scale(1.1);
}
.application img{
    height:90px;
    padding-left:20px;
    padding-top:20px;

}
.application h3{
    text-align: start;
    padding-block:10px;
    padding-left:20px;
}
.application p{
    text-align:start;
    padding-inline:20px;  
}

@media screen and (max-width:600px) {
   .containers{
      width:240%;
      height:100%;
      margin-top:28vh;
      background-position: none;
      background-size:cover;
    }
    .containers>h2{
        padding-block:18vh;
        text-align: center;
        margin-inline:26px;
        font-size:18.2vw;

     }
    .card-container{
        width:90%;
        margin-top:20vh;
        margin-left:15vw;
    }
   .cards{
      grid-template-columns:100%;
      width:200vw;
    
   }

   .application{
       height:90vh;
       width:200vw;
       margin-right:20vw;
       box-shadow: transparent 0 0 0 20px;
       background-color:#489CC380;
       padding:20px;
     
   }
   .application img{
    height:28%;
    margin-left:67vw;
   }
   .application h3{
     font-size:10vw;
     text-align: center;
    }
    .application p{
        font-size:9vw;
        text-align: center;
        margin-top:2vh;
    }
  
 }