.inventyv{
    text-align: center;
    margin-top:30px;

}
.inventyv span{
    font-weight: 700;
    font-size:40px;
    border-bottom:3.2px solid #318eb6;
    padding-bottom:5px;
    padding-inline:10px;
}
.inventyv p{
    margin-top:40px;
    text-align: center;
    max-width:910px;
    margin-left:20rem;
    padding-inline:40px;
}
.container{
   margin-top:20px;
   margin-left:100px;
   display: flex;
   justify-content: center;
   align-items:center;
}
.image-box{
    text-align: center;
    display: grid;
    place-items: center;
    grid-template-columns:200px 200px;
    grid-template-rows:200px 200px;
    row-gap:4px;
    column-gap:285px;
}
.taxt-software{
    grid-row: 1/3;
    height:400px;
    width:600px;
    background-image:url(../../assets/asset2.jpeg);
}

.health-care{
    height:195px;
    width:350px;
    background-image:url(../../assets/asset3.jpeg);
    background-position:center;
}
.carrers{
    height:195px;
    width:350px;
    background-image:url('../../assets/asset4.jpeg');
    background-position:center;
}
.headings{
    color:hsl(198, 58%, 45%);
    padding-bottom:20px;
}

.taxt{
    margin-top:10rem;
    background-color: #f7f7f7ce;
    width:350px;
    height:240px;
    padding-inline:20px;
    padding-top:30px;
    margin-left:20px;
    text-align: justify;
    letter-spacing:0.5px;
}
.taxt p{
   padding-bottom:20px;
}

.learn-more{
    color:black;
}

.health{
    background-color: #f7f7f7d2;
    margin-inline:40px;
    margin-block:25px;
    width:280px;
    height:160px;
    text-align:justify;
    padding:20px;
}
.health p{
    padding-bottom:20px;
}

@media screen and (max-width:600px) {
    .inventyv{
        width:220%;
        margin-left:10vw;
        overflow: hidden; 
    }
    .inventyv span{
        font-size:12vw;
        padding-inline:50vw;
    }
    .inventyv>p{
      width:100%;
      margin-left:7px;
      font-size:9.5vw;
    }
    .container{
        width:200%;
        margin-left:22.5vw;
        height: 300vh;
    }
    .image-box{
        grid-template-columns:repeat(1,1fr);
        height:275vh;
        width:90%;
        background-position:200%;
    }
    .taxt-software{
        position: relative;
        height:90%;
        width:100%;
        background-position:8%;
    }
    .taxt{
        position:absolute;
        margin-top:115vw;
        width:100%;
        height:45vh;
        margin-left:0vw;
        font-size:8vw;
        background-color: transparent;
    }
    .health-care{
        margin-top:65vw;
        position: relative;
        height:45%;
        width:100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position:10%;
    }
    .health{
        position:absolute;
        margin-top:120vw;
        width:100%;
        height:30vh;
        margin-left:0vw;
        font-size:8vw;
        background-color: transparent;
        overflow: hidden;
    }
    .carrers{
        position: relative;
        height:55%;
        width:100%;
        background-size: cover;
        background-position:10%;
        margin-top:12vh;
    }
    .carrer-health{
        position:absolute;
        width:100%;
        height:30vh;
        font-size:8vw;
        background-color: transparent;
    }


  
 }