.home-heading{
    background-color:#045374;
    position: absolute;
    display: inline;
    height:55.1vh;
    color: #fff;
    padding-right:70px;
}
.home-tittle{
  margin-top:80px;
}
.home-tittle p{
    margin-left:170px;
}
.home-tittle h2{
    margin-bottom:19px;
    font-size:50px;
}

@media screen and (max-width:600px) {
    .home-heading{
      display: none;
    }
  
 }

