.home-img{
  width:100%;
 }
 .home-img img{
    width:55%;
    height:50vh;
 }

.home-heading{
    background-color:#045374;
    position: absolute;
    display: inline;
    height:50vh;
    color: #fff;
    padding-right:90px;
    padding-left:20px;
}
.home-tittle{
  margin-top:80px;
}
.home-tittle p{
    margin-left:170px;
}
.home-tittle h2{
    margin-bottom:19px;
    font-size:50px;
}

@media screen and (max-width:600px) {
    .home-img{
      width:240%;
      overflow: hidden;
   }
    .home-heading{
      display: initial;
      background-color:transparent;
      position: absolute;
      top: 0;
      z-index:-1;
      font-size:2vw;
      margin-top:85vmin;
      width:240%;
      min-height:190vh;
      overflow: hidden;
     
    }
    .home-img img{
      width:240%;
      z-index:-1;
      min-height:150vh;
      overflow: hidden;
      margin-top:30vh;
      position: relative;
      
   }
   .home-tittle p{
     width:100%;
     font-size:12vw;
     margin-left:15vw;
     margin-bottom:37vh;
   }
   .home-tittle>h2{
     margin:12vw 15vw 42vh 16vw;
     font-size:15vw;
   }
  .home-heading>p{
    width:90%;
    font-size:10vw;
    margin-left:18vw;
   
  }
 }

