.nav {
    display: flex;
    justify-content:center;
    align-items: center;
    gap:10%;
    padding-block:9px;
    border-bottom:5px ridge rgba(4, 4, 4, 0.632);
}

.navlinks{
   margin-top:10px;
}

.links{
    text-decoration:none;
    margin-inline:20px;
    color:#302c2c;
    padding:10px;
}
.img{
    margin-left:50px;
    height:60px;
}

.links:hover{
    background-color:#489cc35e;
    padding:10px;
}

.navMenu{
    display: none;
}

@media screen and (max-width:600px) {
    .nav{
        width:240vw;
        position: relative;
        min-height:16vh;
        border-bottom: transparent;
        background-color: #0d2130;
    }
    .img{
        position: absolute;
        left:100px;
        top:20vh;
        min-height:18vh;
       
    }
    .navlinks{
        width:100vw;
        display: none;
    }
    .links{
        color: #fff;
    }
    .img-link{
      margin-right:100vw;
    }
    .navMenu{
        display: initial;
        margin-left:210px;
        color:white;
    }
    .menu-bar{
        display: flex;
        flex-direction: column;
        position: absolute;
        right:0;
        top:95px;
        background-color: #0d2130;
        min-width:100%;
        min-height:300vh;
        text-align: center;
        font-size:10vw;
        gap:20vw;
        padding-top:30vh;
        z-index:99;
    }
}


