.footer{
    background-color: #1b1515;
    color: white;
    padding-bottom:20px;
}

.footer>p{
    text-align: center;
    font-size: small;
}

.footer-container{
    margin-top:120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1515;
    color:rgba(255, 255, 255, 0.888);
    padding:80px;
    column-gap:13vw;
}

.footer h3{
    padding-bottom:50px;
    color: #318eb6;
}

.left>P{
    margin-bottom:20px;
    width:280px;
}

.middle{
    width:290px;
    height:240px;
}

.right{
    height:250px;
}
.right>P{
    margin-bottom:20px;
}

.footer-links{
    color:white;
}


@media screen and (max-width:600px) {
    .footer{
        width:240vw;  
    }
    .footer-container{
        flex-direction: column;
        align-items: flex-start;
        row-gap:25vw;
        margin-bottom:16vh;
    }
    .footer h3{
       font-size:13vw;
    }
    .footer h4{
        font-size:10vw;
    }

    .left>p{
        width:100%;
        font-size:10vw;
    }
    .middle{
       width:100%;
       margin-bottom:10vh;
    }
    .middle p{
        font-size:10vw;
    }
    .right{
        width:100%;
    }
    .right p{
        font-size:10vw;
    }
    
    .footer-links{
       font-size:10vw;
    }
    .footer>p{
        font-size:10vw;
        padding-bottom:4vh;
        width:90%;
        margin-left:10vw;
    }

}
